# Project exclude paths
/project/project/target/
/project/target/
/target/
/target/scala-2.13/classes/
/project/project/
/project/project/target/config-classes/
/project/project/target/config-classes/$06a28f38b3515963053c.class
/project/project/target/config-classes/$06a28f38b3515963053c.cache
/project/target/config-classes/
/project/target/scala-2.12/
/project/target/streams/
*.iml
